body {
    width: 100%;
    background-color: #f5ead8;
}


header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* padding: 30px; */
}

header .logo{
    border-radius: 50%;
    margin-bottom: 10px;
}

header .logo img{
    width: 100px;
}

.logo{
    display: flex;
    align-items: center;
}

header nav{
    margin-left: 75px;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    margin-right: 100px;
}

button {
    width: 100px;
    height: 35px;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    /* background-color: ; */
}